In [1]:
import pandas as pd

In [2]:
# specify data path
jan = "../Tableau-CitiBike-Visualization/Data/JC-202101-citibike-tripdata.csv"
feb = "../Tableau-CitiBike-Visualization/Data/JC-202012-citibike-tripdata.csv"
mar = "../Tableau-CitiBike-Visualization/Data/JC-202103-citibike-tripdata.csv"

# read csv file into jupyter notebook
# Examine column count and compare data headers with other files for consistency
jan_data = pd.read_csv(jan)
jan_data.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1

In [3]:
# Examine df head
feb_data = pd.read_csv(feb)
feb_data.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,146,2020-12-01 00:02:50.1450,2020-12-01 00:05:16.1940,3202,Newport PATH,40.727224,-74.033759,3199,Newport Pkwy,40.728745,-74.032108,42308,Subscriber,1989,2

In [4]:
# Examine df head
mar_data = pd.read_csv(mar)
mar_data.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.71113,-74.0789,member

In [5]:
# Check number of columns
print(len(jan_data.columns))
print(len(feb_data.columns))
print(len(mar_data.columns))

15
15
13

In [6]:
# combine jan & feb df into one df since the df heads are the same
combine_jan_feb_df = pd.concat([jan_data, feb_data])

# combine_jan_feb_df.head(1)  #used to check df, commented out

# check number of rows in index after concat
print(len(combine_jan_feb_df.index))

23318

In [10]:
# rename column headers
renamed_jan_feb_df = combine_jan_feb_df
renamed_jan_feb_df.rename(columns={"starttime":"started_at",
                        "stoptime":"ended_at",
                         "start station id":"start_station_id",
                         "end station id":"end_station_id",
                         "start station name":"start_station_name",
                         "end station name":"end_station_name",
                         "start station latitude":"start_lat",
                         "end station latitude":"end_lat",
                         "start station longitude":"start_lng",
                         "end station longitude":"end_lng",
                        "start station name":"start_station_name",
                        }, inplace=True)
renamed_jan_feb_df.head(0)

Empty DataFrame
Columns: [tripduration, started_at, ended_at, start_station_id, start_station_name, start_lat, start_lng, end_station_id, end_station_name, end_lat, end_lng]
Index: []