#### City Bike Analytics Workbook

In [1]:
import pandas as pd

In [2]:
# specify data path
jan = "../Tableau-CitiBike-Visualization/Data/JC-202101-citibike-tripdata.csv"
feb = "../Tableau-CitiBike-Visualization/Data/JC-202102-citibike-tripdata.csv"
mar = "../Tableau-CitiBike-Visualization/Data/JC-202103-citibike-tripdata.csv"

# read csv file into jupyter notebook
# Examine column count and compare data headers with other files for consistency
jan_data = pd.read_csv(jan)
feb_data = pd.read_csv(feb)
mar_data = pd.read_csv(mar)
jan_data.head(1)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1

In [3]:
# Examine df head
feb_data = pd.read_csv(feb)
feb_data.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member

In [4]:
# Examine df head
mar_data = pd.read_csv(mar)
mar_data.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.71113,-74.0789,member

In [5]:
new_jan_df = jan_data
new_jan_df.rename(columns={"tripduration":"trip_duration",
                           "starttime":"started_at",
                           "stoptime":"ended_at",
                           "start station id":"start_station_id",
                           "end station id":"end_station_id",
                           "start station name":"start_station_name",
                           "end station name":"end_station_name",
                           "start station latitude":"start_lat",
                           "end station latitude":"end_lat",
                           "start station longitude":"start_lng",
                           "end station longitude":"end_lng",
                           "start station name":"start_station_name",
                           "end station name":"end_station_name"
                        }, inplace=True)
new_jan_df.head()

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [6]:
new_jan_df.drop(["usertype", "bikeid", "birth year", "gender"], axis=1, inplace=True)
new_jan_df.head()

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656

In [7]:
# combine feb & mar df into one df since the df heads are the same
new_feb_mar_df = pd.concat([feb_data, mar_data])

new_feb_mar_df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,121DD7DD23CB1335,docked_bike,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444,member
1,FD73FB85F008349D,docked_bike,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817,member
2,39F9E6663CB5FDF6,docked_bike,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194,member
3,A64745CB0792EC6F,docked_bike,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,casual
4,75CC76EB9543764A,docked_bike,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964,member

In [8]:
new_feb_mar_df.drop(["ride_id", "rideable_type", "member_casual"], axis=1, inplace=True)
new_feb_mar_df.head()

,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng
0,2021-02-03 23:11:28,2021-02-03 23:18:28,Hoboken Ave at Monmouth St,JC105,Christ Hospital,JC034,40.735208,-74.046964,40.734786,-74.050444
1,2021-02-27 16:34:05,2021-02-27 16:56:40,Newport Pkwy,JC008,Marin Light Rail,JC013,40.728744,-74.032108,40.714584,-74.042817
2,2021-02-26 23:16:04,2021-02-26 23:22:25,Journal Square,JC103,Baldwin at Montgomery,JC020,40.733670,-74.062500,40.723659,-74.064194
3,2021-02-24 16:51:50,2021-02-24 17:16:09,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964
4,2021-02-24 20:44:16,2021-02-24 20:44:46,Hoboken Ave at Monmouth St,JC105,Hoboken Ave at Monmouth St,JC105,40.735208,-74.046963,40.735208,-74.046964

In [9]:
merge_df = pd.concat([new_jan_df, new_feb_mar_df], axis=0, sort=False)
merge_df

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656
...,...,...,...,...,...,...,...,...,...,...,...
17118,NaN,2021-03-29 19:30:20,2021-03-29 19:38:10,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526
17119,NaN,2021-03-12 18:49:06,2021-03-12 18:54:35,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526
17120,NaN,2021-03-28 12:29:15,2021-03-28 12:34:40,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305
17121,NaN,2021-03-23 13:03:35,2021-03-23 13:10:25,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305
17122,NaN,2021-03-24 10:12:54,2021-03-24 10:21:17,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305

In [10]:
# Add ride id column to uniquely identify each ride
merge_df["rideid"] = merge_df["start_station_id"].map(str) + "_" + merge_df["end_station_id"].map(str)
merge_df

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,rideid
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,3273_3209
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,3185_3199
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,3639_3209
...,...,...,...,...,...,...,...,...,...,...,...,...
17118,NaN,2021-03-29 19:30:20,2021-03-29 19:38:10,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072
17119,NaN,2021-03-12 18:49:06,2021-03-12 18:54:35,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072
17120,NaN,2021-03-28 12:29:15,2021-03-28 12:34:40,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032
17121,NaN,2021-03-23 13:03:35,2021-03-23 13:10:25,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032
17122,NaN,2021-03-24 10:12:54,2021-03-24 10:21:17,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032

In [11]:
# break out year
merge_df['trip_Year'] = merge_df.started_at.str.split("-", expand=True)[0]

# break out month
merge_df['trip_month'] = merge_df.started_at.str.split("-", expand=True)[1]
merge_df

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,rideid,trip_Year,trip_month
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,3273_3209,2021,01
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,01
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,01
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,3185_3199,2021,01
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,3639_3209,2021,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17118,NaN,2021-03-29 19:30:20,2021-03-29 19:38:10,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,03
17119,NaN,2021-03-12 18:49:06,2021-03-12 18:54:35,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,03
17120,NaN,2021-03-28 12:29:15,2021-03-28 12:34:40,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,03
17121,NaN,2021-03-23 13:03:35,2021-03-23 13:10:25,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,03
17122,NaN,2021-03-24 10:12:54,2021-03-24 10:21:17,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,03

In [12]:
merge_df["trip_month"].replace({"01": "January", "02": "February", "03": "March"}, inplace=True)
merge_df

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,rideid,trip_Year,trip_month
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,3273_3209,2021,January
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,January
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,January
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,3185_3199,2021,January
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,3639_3209,2021,January
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17118,NaN,2021-03-29 19:30:20,2021-03-29 19:38:10,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,March
17119,NaN,2021-03-12 18:49:06,2021-03-12 18:54:35,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,March
17120,NaN,2021-03-28 12:29:15,2021-03-28 12:34:40,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March
17121,NaN,2021-03-23 13:03:35,2021-03-23 13:10:25,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March
17122,NaN,2021-03-24 10:12:54,2021-03-24 10:21:17,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March

###### Calculate distance of each ride point a to b.

In [13]:
from math import sin, cos, sqrt, atan2, radians

df = merge_df

# For lat and lon, convert degrees to radians
lat1 = [radians(lat) for lat in df["start_lat"]]
lon1 = [radians(lon) for lon in df["start_lng"]]
lat2 = [radians(lat) for lat in df["end_lat"]]
lon2 = [radians(lon) for lon in df["end_lng"]]

# Convert lists into series
lat1 = pd.Series(lat1)
lon1 = pd.Series(lon1)
lat2 = pd.Series(lat2)
lon2 = pd.Series(lon2)

# Calculate difference between each set of latitude and longitude
dlat = lat2 - lat1
dlon = lon2 - lon1

In [14]:
# Approximate radius of Earth in km
R = 6373.0

# Empty list to store trip distances
distance = []

for i in range(0, len(lat1)):
    
    a = sin(dlat[i] / 2)**2 + cos(lat1[i]) * cos(lat2[i]) * sin(dlon[i] / 2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))

    # Get distance and convert km to miles
    miles = (R * c) * .6214
    
    # Append miles travel to 'distance' list
    distance.append(miles)

In [15]:
# Add trip distance as new column to data frame
df.loc[:, "tripdistance (mi)"] = distance

# df["tripdistance (mi)"] = distance
df

,trip_duration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,rideid,trip_Year,trip_month,tripdistance (mi)
0,266.0,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,3273_3209,2021,January,0.442985
1,1543.0,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,January,0.573768
2,1461.0,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,3681_3213,2021,January,0.573768
3,793.0,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,3185_3199,2021,January,0.978435
4,596.0,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,3639_3209,2021,January,0.925164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17118,NaN,2021-03-29 19:30:20,2021-03-29 19:38:10,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,March,0.523016
17119,NaN,2021-03-12 18:49:06,2021-03-12 18:54:35,JC104,Harborside,40.719251,-74.034234,JC072,Morris Canal,40.712419,-74.038526,JC104_JC072,2021,March,0.523016
17120,NaN,2021-03-28 12:29:15,2021-03-28 12:34:40,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March,0.651558
17121,NaN,2021-03-23 13:03:35,2021-03-23 13:10:25,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March,0.651558
17122,NaN,2021-03-24 10:12:54,2021-03-24 10:21:17,JC104,Harborside,40.719251,-74.034234,JC032,Newark Ave,40.721525,-74.046305,JC104_JC032,2021,March,0.651558

In [16]:
df.to_csv("../Tableau-CitiBike-Visualization/Output/upload_to_tableau.csv")