In [1]:
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date

jan = "../Tableau-CitiBike-Visualization/Data/JC-202101-citibike-tripdata.csv"
feb = "../Tableau-CitiBike-Visualization/Data/JC-202012-citibike-tripdata.csv"
mar = "../Tableau-CitiBike-Visualization/Data/JC-202103-citibike-tripdata.csv"

# read csv file into jupyter notebook
# Examine column count and compare data headers with other files for consistency
jan_df = pd.read_csv(jan)
feb_df = pd.read_csv(feb)
mar_df = pd.read_csv(mar)

In [2]:
# combine jan & feb df into one df since the df heads are the same
frames = [jan_df, feb_df, mar_df].copy()
janfeb_df = pd.concat([jan_df, feb_df])

janfeb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0

In [3]:
# Examine df head
mar_data = pd.read_csv(mar)
mar_data.head(1)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,ABBBB4D89C620898,docked_bike,2021-03-03 10:32:07,2021-03-03 10:32:40,Jackson Square,JC063,Jackson Square,JC063,40.71113,-74.0789,40.71113,-74.0789,member

In [4]:
# compare number of columns
print(len(janfeb_df.columns))
print(len(mar_df.columns))

15
13

In [5]:
data = janfeb_df
data["start_time"] = data.starttime.str.split(expand = True)[1]
data["end_time"] = data.stoptime.str.split(expand = True)[1]

# data.index.is_unique

data.head()
# data.index.is_unique

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,end_time
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,00:03:35.5100,00:08:01.7770
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,00:23:32.9250,00:49:16.0830
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,00:23:50.7940,00:48:12.5660
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,00:31:09.0770,00:44:22.9430
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,00:35:52.1900,00:45:48.7740

In [6]:
# create copy of data
# create new columns and split datetimes to extract dates for start_date and end_date
time = data.copy()
time["start_date"] = time.starttime.str.split(expand = True)[0]
time["end_date"] = time.stoptime.str.split(expand = True)[0]

# reset index to eliminate duplication of index values
time.reset_index(drop=True, inplace=True)

time.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,end_time,start_date,end_date
0,266,2021-01-01 00:03:35.5100,2021-01-01 00:08:01.7770,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,00:03:35.5100,00:08:01.7770,2021-01-01,2021-01-01
1,1543,2021-01-01 00:23:32.9250,2021-01-01 00:49:16.0830,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,00:23:32.9250,00:49:16.0830,2021-01-01,2021-01-01
2,1461,2021-01-01 00:23:50.7940,2021-01-01 00:48:12.5660,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,00:23:50.7940,00:48:12.5660,2021-01-01,2021-01-01
3,793,2021-01-01 00:31:09.0770,2021-01-01 00:44:22.9430,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,00:31:09.0770,00:44:22.9430,2021-01-01,2021-01-01
4,596,2021-01-01 00:35:52.1900,2021-01-01 00:45:48.7740,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,00:35:52.1900,00:45:48.7740,2021-01-01,2021-01-01

In [7]:
# change string to datetime format 
time["starttime"] = pd.to_datetime(time["starttime"])
time["stoptime"] = pd.to_datetime(time["stoptime"])

time.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,end_time,start_date,end_date
0,266,2021-01-01 00:03:35.510,2021-01-01 00:08:01.777,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,00:03:35.5100,00:08:01.7770,2021-01-01,2021-01-01
1,1543,2021-01-01 00:23:32.925,2021-01-01 00:49:16.083,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,00:23:32.9250,00:49:16.0830,2021-01-01,2021-01-01
2,1461,2021-01-01 00:23:50.794,2021-01-01 00:48:12.566,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,00:23:50.7940,00:48:12.5660,2021-01-01,2021-01-01
3,793,2021-01-01 00:31:09.077,2021-01-01 00:44:22.943,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,00:31:09.0770,00:44:22.9430,2021-01-01,2021-01-01
4,596,2021-01-01 00:35:52.190,2021-01-01 00:45:48.774,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,00:35:52.1900,00:45:48.7740,2021-01-01,2021-01-01

In [8]:
# find diference between two timestamps to calculate the trip duration
# convert difference and express in minutes
time["trip_duration (min)"] = time["stoptime"] - time["starttime"]
time["trip_duration (min)"] = time["trip_duration (min)"]/np.timedelta64(1, "m")

time.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,start_time,end_time,start_date,end_date,trip_duration (min)
0,266,2021-01-01 00:03:35.510,2021-01-01 00:08:01.777,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,00:03:35.5100,00:08:01.7770,2021-01-01,2021-01-01,4.437783
1,1543,2021-01-01 00:23:32.925,2021-01-01 00:49:16.083,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,00:23:32.9250,00:49:16.0830,2021-01-01,2021-01-01,25.719300
2,1461,2021-01-01 00:23:50.794,2021-01-01 00:48:12.566,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,00:23:50.7940,00:48:12.5660,2021-01-01,2021-01-01,24.362867
3,793,2021-01-01 00:31:09.077,2021-01-01 00:44:22.943,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,00:31:09.0770,00:44:22.9430,2021-01-01,2021-01-01,13.231100
4,596,2021-01-01 00:35:52.190,2021-01-01 00:45:48.774,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,00:35:52.1900,00:45:48.7740,2021-01-01,2021-01-01,9.943067

In [9]:
# rename column headers
rename_headers_df = time
rename_headers_df.rename(columns={"starttime":"started_at",
                        "stoptime":"ended_at",
                         "start station id":"start_station_id",
                         "end station id":"end_station_id",
                         "start station name":"start_station_name",
                         "end station name":"end_station_name",
                         "start station latitude":"start_lat",
                         "end station latitude":"end_lat",
                         "start station longitude":"start_lng",
                         "end station longitude":"end_lng",
                        "start station name":"start_station_name",
                        }, inplace=True)
rename_headers_df.head()

,tripduration,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,bikeid,usertype,birth year,gender,start_time,end_time,start_date,end_date,trip_duration (min)
0,266,2021-01-01 00:03:35.510,2021-01-01 00:08:01.777,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,42494,Subscriber,1988,1,00:03:35.5100,00:08:01.7770,2021-01-01,2021-01-01,4.437783
1,1543,2021-01-01 00:23:32.925,2021-01-01 00:49:16.083,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,45343,Customer,1996,2,00:23:32.9250,00:49:16.0830,2021-01-01,2021-01-01,25.719300
2,1461,2021-01-01 00:23:50.794,2021-01-01 00:48:12.566,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,31794,Customer,1995,1,00:23:50.7940,00:48:12.5660,2021-01-01,2021-01-01,24.362867
3,793,2021-01-01 00:31:09.077,2021-01-01 00:44:22.943,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,42316,Customer,1969,0,00:31:09.0770,00:44:22.9430,2021-01-01,2021-01-01,13.231100
4,596,2021-01-01 00:35:52.190,2021-01-01 00:45:48.774,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,32575,Customer,1969,0,00:35:52.1900,00:45:48.7740,2021-01-01,2021-01-01,9.943067

In [10]:
# dropping headers since data header no longer used, starting March 2021.

drop_df = rename_headers_df
drop_df.drop(["tripduration", "usertype", "bikeid", "birth year", "gender"], axis=1, inplace=True)
drop_df.head()

,started_at,ended_at,start_station_id,start_station_name,start_lat,start_lng,end_station_id,end_station_name,end_lat,end_lng,start_time,end_time,start_date,end_date,trip_duration (min)
0,2021-01-01 00:03:35.510,2021-01-01 00:08:01.777,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,00:03:35.5100,00:08:01.7770,2021-01-01,2021-01-01,4.437783
1,2021-01-01 00:23:32.925,2021-01-01 00:49:16.083,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,00:23:32.9250,00:49:16.0830,2021-01-01,2021-01-01,25.719300
2,2021-01-01 00:23:50.794,2021-01-01 00:48:12.566,3681,Grand St,40.715178,-74.037683,3213,Van Vorst Park,40.718489,-74.047727,00:23:50.7940,00:48:12.5660,2021-01-01,2021-01-01,24.362867
3,2021-01-01 00:31:09.077,2021-01-01 00:44:22.943,3185,City Hall,40.717733,-74.043845,3199,Newport Pkwy,40.728745,-74.032108,00:31:09.0770,00:44:22.9430,2021-01-01,2021-01-01,13.231100
4,2021-01-01 00:35:52.190,2021-01-01 00:45:48.774,3639,Harborside,40.719252,-74.034234,3209,Brunswick St,40.724176,-74.050656,00:35:52.1900,00:45:48.7740,2021-01-01,2021-01-01,9.943067

In [ ]:
# To do for March: split datetime, calcuate time delta, rename headers, drop unused headers, concat dfs